@import 'vuetify/styles';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;600;700&display=swap');

@layer base {
  html {
    font-family: 'Noto Sans JP', sans-serif;
  }

  svg {
    width: 100%;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}

@import './transition.scss';
@import './public.scss';
@import 'vue-toastification/dist/index.css';
@import './custom.scss';
